<!doctype html>
<html lang="en">
<head>
   {% extends "template.html" %}
    {% block head %}
        {{ super() }}

    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="section-container">
            {% if name %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <p style="font-size: 17px">
                        Thank you, {{ name | title }}!

                    </p>
                </div>

            {% else %}
                <div class="container">
                <h1>Friends List - HTML forms</h1>

                <div class="row">
                    <form action="/friends_html" method="POST" class="reveal-content">
                        <div class="mb-3">
                            <input
                                    type="text"
                                    class="form-control"id="name"
                                    placeholder="First Name"
                                    aria-describedby="emailHelp"
                                    name="first_name"
                                    required
                                    autofocus
                            >
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-secondary mt-3 ">Submit</button>
                        </div>
                    </form>
                </div>
            {% endif %}
                <ul
                        class="container text-left"
                    style="width: 300px; margin: 50px 0 20px 0;box-shadow: 0 0 1px grey; padding: 3px;"
                >
                    <h3 class="text-center mb-3">Friends List</h3>
                    {% for friend in friends_list %}
                        <li>
                            <div class="row">
                                <div class="col-4" style="width: 60%"> {{ friend.name | title }}</div>

                                <div class="col-4" style="width: 20%">
                                    <a
                                        class="btn btn-outline-secondary btn-sm"
                                        href="/update_friends/{{ friend.id }}">
                                    Edit
                                    </a>
                                </div>

                                 <div class="col-4" style="width: 20%">
                                    <a
                                        class="btn btn-outline-danger btn-sm"
                                        href="/delete_friends/{{ friend.id }}">
                                    X
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                </div>
    </div>
    {{ first_name }}
    {% endblock %}

</body>
</html>